POSTGRES_DB=masterpanel
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-this-strong-password
MASTER_PANEL_API_PORT=4010

# App env
PORT=4000
NODE_ENV=production
BACKEND_PUBLIC_URL=https://masterpanel.seoparadox.com
CORS_ORIGIN=https://master-site-panel.vercel.app

# Keep this long and random
SITE_RUNTIME_KEY=change-this-runtime-key
