# domain|site_code|site_name|port|visibility
# visibility can be public or private

tynewebdesign.com|tynewebdesign|Tyne Web Design|3013|public
codepixelmedia.com|codepixelmedia|Code Pixel Media|3014|public
winonaj.com|winonaj|Winonaj|3015|public
wiliin.com|wiliin|Wiliin|3016|public
djlservicios.com|djlservicios|DJL Servicios|3017|public
motivkit.com|motivkit|MotivKit|3018|public
dlkautoparts.com|dlkautoparts|DLK Auto Parts|3019|public
mysterycoder.com|mysterycoder|Mystery Coder|3020|public
bharatamayu.com|bharatamayu|Bharat Amayu|3021|public
celebriches.com|celebriches|Celebriches|3022|public
miplaninvu.com|miplaninvu|Mi Plan Invu|3023|public
lodenews.com|lodenews|Lode News|3024|public
apcreatiu.com|apcreatiu|Lode News|3025|public
